.home {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.home_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
    width: auto;
}

.home_head_name {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-size: cover;
    text-align: left;
}

.home_head_name h1 {
    width: 350px;
    height: 38px;
    left: 182px;
    top: 28px;

    font-family: 'Italiana';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 38px;
    text-transform: uppercase;
    color: black;
}

.home_head_links {
    display: flex;
    flex-direction: row;
}

.home_head_links h1 {
    margin: 0 0.5rem;
    width: auto;
    height: 38px;
    color: rgb(114, 114, 114);
}

.home_head_links h1:hover {
    color: black;
    transition: transform 0.25s ease-in-out;
}

.home_categories {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2; */

    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    grid-template-columns: unset;
    overflow: auto;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
    width: 100%;
    height: auto;
    z-index: 2;
}

.home_categories:before,:after {
    display: block;
}

.home_categories::-webkit-scrollbar {
    /* remove scrollbar */
    display: none;
}

.home_categories p {
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: black;
    padding: 0 3rem;
    text-transform: uppercase;
}

.home_title {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.home_gallery {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1500px;
    margin : 0 15%; */

    grid: auto / auto;
    grid-gap: 0rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(300px, 1fr);
    grid-auto-flow: dense;

    align-items: center;
    justify-items: center;
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

.footer {
    margin-top: auto;
}


/* categories selection */
.active {
    display: inline-block;
    position: relative;
    color: black;
    cursor: pointer;
}

.active::after {
    content: '';
    position: absolute;
    width: 80%;
    transform: scaleX(1);
    height: 2px;
    bottom: 0;
    left: 16px;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.inactive {
    display: inline-block;
    position: relative;
    color: black;
    cursor: pointer;
}

.inactive::after {
    content: '';
    position: absolute;
    width: 80%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 16px;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.inactive:hover::after {
    transform: scaleX(1);
    height: 1px;
    transform-origin: bottom left;
}


@media screen and (max-width: 768px) {
    .home_head {
        flex-direction: column;
    }

    .home_head_name {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .home_categories {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: left;
        overflow: auto;
        overflow-y: hidden;
        overscroll-behavior-inline: contain;
    }

    .home_gallery {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    }
}